<% if (alerts.error) {%>
  <% alerts.error[0].split(',').forEach(function(msg) { %>
    <div class="row" id="alert_box">
      <div class="col s12 m12">
        <div class="card black">
          <div class="row">
            <div class="col s12 m10">
              <div class="card-content white-text">
                <p><%- msg %></p>
            </div>
          </div>
          <div class="col s12 m2">
            <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
          </div>
        </div>
       </div>
      </div>
    </div>

<% }); %>
<%  } %>

<% if (alerts.success) {%>
  <% alerts.success.forEach(function(msg) { %>
<div class="row" id="alert_box">
  <div class="col s12 m12">
    <div class="card pink accent-2">
      <div class="row">
        <div class="col s12 m10">
          <div class="card-content white-text">
            <p><%- msg %></p>
        </div>
      </div>
      <div class="col s12 m2">
        <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
      </div>
    </div>
   </div>
  </div>
</div>
<% }); %>
<%  } %>
