<!-- new list modal -->
  <div id="newlist" class="modal">
    <div class="modal-content">
      <h4>New List</h4>
      <form action="/lists" method="POST">
        <div class="form-group">
          <label for="name">List Name</label>
          <input id="name" class="form-control" type="text" name="name">
        </div>

        <input class="btn btn-primary modal-close" type="submit">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
