<h1><%= team.name %></h1>
<p><%= team.user.name %></p>
<p><%= team.description %></p>
<p><%= team.id %></p>

<h2>Previously on RuPaul's Drag Race</h2>

<table class="responsive-table recap">
        <thead>
          <tr>
              <th>Week</th>
              <th>Your Picks</th>
              <th>Winner</th>
              <th>Eliminated</th>
              <th>Won Lipsync</th>
              <th>Drama</th>
              <th>Bonus Points</th>
              <th>Your Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Miz Cracker, Monet X. Change, Mayhem Miller, Blair St. Clair</td>
            <td>Mayhem Miller</td>
            <td>Vanessa Vanjie Mateo</td>
            <td>Kalorie Karbdashian Williams</td>
            <td></td>
            <td></td>
            <td>10</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Miz Cracker, Monet X. Change, Mayhem Miller, Blair St. Clair</td>
            <td>The Vixen</td>
            <td>Kalorie Karbdashian Williams</td>
            <td>Eureka</td>
            <td>The Vixen</td>
            <td></td>
            <td>0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Miz Cracker, Monet X. Change, Mayhem Miller, Blair St. Clair</td>
            <td>Asia O'Hara</td>
            <td>Yuhua Hamasaki</td>
            <td>Mayhem Miller</td>
            <td></td>
            <td></td>
            <td>5</td>
          </tr>
        </tbody>
      </table>

<h2>Your Picks for This Week</h2>

<table class="responsive-table picks">
        <thead>
          <tr>
              <th>Queen</th>
              <th>Total Points</th>
              <th>Rank</th>
              <th>Change</th>
              <th>Select</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Aquaria</td>
            <td>15</td>
            <td>1</td>
            <td>+1</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
          <tr>
            <td>Asia O'Hara</td>
            <td>13</td>
            <td>2</td>
            <td>-1</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
          <tr>
            <td>Eureka</td>
            <td>10</td>
            <td>3</td>
            <td>0</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
        </tbody>
      </table>
