<% include partials/addtolist %>
<div class='row'>
<% queens.forEach(function(queen) { %>
    <div class= 'col box s12 m6 l2 offset-l1'>
      <a href="/queens/<%= queen.id %>"><h4><%= queen.name %></h4></a>
      <img src="<%= queen.image_url %>" onerror="this.onerror=null;this.src='/img/season1.jpg';" class="responsive-img queen" height='200'><br>
      <% if (currentUser) { %>
      <button class="btn pink accent-2 modal-trigger addqueen" type="button" data-id="<%= queen.name %>" href="#addtolist">Add to List</button>
      <% }; %>
    </div>
 <% }); %>
</div>
