<h2>Set Your Lineup</h2>


<table class="responsive-table">
        <thead>
          <tr>
              <th>Queen</th>
              <th>Total Points</th>
              <th>Rank</th>
              <th>Change</th>
              <th>Select</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Aquaria</td>
            <td>15</td>
            <td>1</td>
            <td>+1</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
          <tr>
            <td>Asia O'Hara</td>
            <td>13</td>
            <td>2</td>
            <td>-1</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
          <tr>
            <td>Eureka</td>
            <td>10</td>
            <td>3</td>
            <td>0</td>
            <td><button class="btn pink accent-2 pickqueen" type="button" data-id="" href="#addtopicks">Pick</button></td>
          </tr>
        </tbody>
      </table>
