body

{   background-color: black;
    color: #ff4081;
    font-family: 'Lato', sans-serif;
}

input:focus
{
    border-bottom-color: #ff4081 !important;
}

a
{
    color: #ff4081 !important;
    text-shadow: 0 0 10px #fff;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    font-family: 'Lemon', cursive;

    text-shadow: 0 0 3px #000;
}

table
{
    margin: 5rem auto !important;
}

.leaguedesc
{
    font-weight: lighter;

    margin-top: 2rem;
}

thead
{
    background-color: #ff4081;
    color: black;

}

th
{
    border-radius: 0 !important;
}

.box
{
    margin: 10px;
}

button
{
    margin: 0 auto;
}

.select-dropdown span
{
    color: #ff4081 !important;
}

.queen
{
    display: block;
    margin: 0 auto;
}

.card.horizontal
{
    background-color: black !important;
}

.card-title
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.modal-content #authEmail,
.modal-content #authName,
.modal-content #authPassword,
li a
{
    color: black !important;
}

#authEmail,
#authName,
#authPassword,
.sidenav-trigger,
.nav-link,
.dropdown-trigger
{
    color: white !important;
}
