<div class='row'>
<h1>All Leagues</h1>
</div>
<div class='row'>
<button class="btn pink accent-2 modal-trigger newleague" type="button" href="#newleague">New League</button>
</div>
<div class='row'>
<% leagues.forEach(function(league) { %>
    <div class= 'col box s12 m6 l3 offset-l1'>
      <a href="/leagues/<%= league.id %>"><h4><%= league.name %></h4></a> <h3> (Season <%= league.season %>)</h3>
    </div>
 <% }); %>
 <br>
</div>
